<nav>
<ul>
  <li><a href="/home">Home</a></li>
  <li><a href="/home/leaderboard">Leader Board</a></li>
  <li><a href="/photos/babies/showall">All Babies</a></li>
  <li><a href="/photos/cats/showall"> All Cats </a></li>
  <li><a href="/home/about">About Us</a> </li>
  <li><%if (session.loggedIn === true){%>
      <a href="/auth/logout">Logout</a>
    <%}else {%>
      <a href="/auth/login">Login</a>
    <%}%>
  </li> <%if (session.loggedIn === true) {%>
  <li><a href="/users/<%=session._id%>">Profile</a> </li>
  <%}%>
</ul>
</nav>
