<nav>
<ul>
  <li><a href="">Home</a></li>
  <li><a href="">Leader Board</a></li>
  <li><a href="">All Babies</a></li>
  <li><a href=""> All Cats </a></li>
  <li><a href="">About Us</a> </li>
  <li> <a href="">Login/Logout</a> </li>
  <li><a href="">Profile</a> </li>
</ul>
</nav>