<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>All uploaded babies</title>
  <%include ../partials/head%>
</head>
<body >
<%include ../partials/header%>
  <h1 class="allDescription">Babies! Babies! Babies!</h1>
  <% photos.forEach((e)=>{ %>
  <%console.log(e.babyPhotos, 'all baby photos');%>
    <% e.babyPhotos.forEach((e)=>{ %>
      <img class='allPhotos' src="<%=e.url%>" alt="<%=e.description%>">
      <p class="allDescription"><%=e.description%> </p>
    <%})%>
  <%})%>

  <%include ../partials/footer%>
</body>
</html>
