<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>All uploaded babies</title>
</head>
<body>
<% for (let i = 0; i < photos.length; i++){%>
  <%console.log(photos[i].catPhotos)%>
  <%for (let p = 0; p < photos[i].catPhotos.length; p++){%>
    <img src="<%=photos[i].catPhotos[p].url%>" alt="<%=photos[i].catPhotos[p].description%>">
    <p><%=photos[i].catPhotos[p].description%></p>
  <%}%>
<%}%>

  <%include ../partials/footer%>
</body>
</html>
