<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>All uploaded babies</title>
</head>
<body>
<%include ../partials/header%>
  <h1>All cats uploaded with a change </h1>
  
  <%include ../partials/footer%>
</body>
</html>