<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Splash Page FUN time in Texas</h1>
    <p></p>
    <h2>Welcome To Cat VS Baby! Click To Begin</h2>
<p><%=users.photos.catPhotos[1].description%></p>
    <ul>

    <ul>
<button type="logIn" name="LogIn">Log In</button>
    </ul>
    <ul>
      <button type="Register" name="Register">Register</button>
    </ul>
    <ul>
      Thanks For Checking Us Out, We Love Our Fans!
    </ul>
  </body>
</html>
