/* color Palate HEX

darkish blue
#264653
lighter blue
#2a9d8f
yellow-tan
#e9c46a
orange
#f4a261
orange-red
#e76f51
 */

body {
  background-color: #EBEAE6;
  /* padding: 10px; */
  font: 200px;
  font-family: monospace;
  color: #454BD0;
  text-align: left;
  list-style-type: none;
  text-decoration: none;

}
header {
  text-decoration: none;
  list-style-type: none;

}
footer {
  color: #454BD0;
  text-align: left;
  font-family: 'Permanent Marker', cursive;

}
  li {

    text-decoration: none;
    list-style-type: none;
    font-size: 20px;
    font-family: monospace;
    display: inline;
 }
  li a {
    text-decoration: none;
    list-style-type: none;
 }
  a:link {
    color: #454BD0 }
  a:visited {
    color: #454BD0;
    text-decoration: none;
    border-radius: 30px
 }
  address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted }

    photos {
    position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    }

    nav {
      
    }
    .header{
      
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-content: space-around;
      background-color: #454BD0;
      border: #9f7e69 solid 1px;
      box-shadow: inset -20px -3px 1px 14px rgb(160, 104, 233);
    }
  .header li {
    background-color: #F7AFA4;
    border: grey solid 1px;
    margin: 1vh 8vw; 
    padding: .25vh 4vw;
    font-family: 'Permanent Marker', cursive;
    
  }

    /* PROFILE STYLES */

    .profile-h1 {
      text-align: center;
      color: #9f7e69;
      
    }

    .profile-img, .allPhotos, .leaderImg, img {
      display: block;
      border-radius: 50%;
      width: 50vw;
      height: 60vh;
      margin: 0 auto;
      border: #454BD0 solid 2px;
      box-shadow: -9px 5px 0px 2px #F7AFA4;

    }

    .profile-flexCon {
      display: flex;
      flex-direction: column;
      width: 50vw;
      height: 50vh;
      margin: 0 auto;
      justify-content: space-evenly;
      align-items: center;
    }

    .profile-textForm {
      width: 40%
    }

    .profile-delete {
      display: block;
      margin: 10vh auto;
    }

    .allDescription, .leaderText, .home-text, h1, p, h3 {
      text-align: center;
      font-family: 'Permanent Marker', cursive;
    }


    .aboutText {
      text-align: justify;
    }

    .no-button  {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        display: block;
        margin: 0 auto;

    } 

    .splashB {
      display: block;
      width: 10vw;
      margin: 0 auto;
    }


    
    
