body {
  background-color: #DEE2D6;
  padding: 30px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #BF9B8B;
  text-align: left;
  list-style-type: none;
  text-decoration: none;

}
header {
  text-decoration: none;
  list-style-type: none;

}
footer {
  color: #C09B8A;
  text-align: center

}
  li {
    background: #C9E2D9;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid #BF9B8B;
    text-decoration: none;
    list-style-type: none;
    font-size: 10px
 }
  li a {
    text-decoration: none;
    list-style-type: none;
 }
  a:link {
    color: blue }
  a:visited {
    color: #BF9B8B;
    text-decoration: none;
 }
  address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted }

    photos {
      position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    }
