<<<<<<< HEAD
.splash-img {
     display: block;
     border-radius: 50%;
     /* width: 200vw; */
     /* height: 100vh; */
     margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
  width: 500px;
  border: solid #EBEAE6 15px;
  position: relative;
  float: left;
  width:  300px;
  height: 300px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
  font-family: 'Love Ya Like A Sister', cursive;

}
 .container-splash {
   justify-content: space-between;
 }

.flex-container-splash-signup {
flex-direction: column;
}

.splash {
font-family: inherit;
font-size: 30px;
font-family: 'Love Ya Like A Sister', cursive;

}

=======
/* color Palate HEX

darkish blue
#264653
lighter blue
#2a9d8f
yellow-tan
#e9c46a
orange
#f4a261
orange-red
#e76f51
 */
>>>>>>> 9cbed60efa8f4cb24cd8209bab0535a6e1699e8a

body {
  background-color: #EBEAE6;
  padding: 10px;
  font-size: 30px;
  font-family: 'Love Ya Like A Sister', cursive;
  color: #454BD0;
  text-align: left;
  list-style-type: none;
  text-decoration: none;

}
header {
  text-decoration: none;
  list-style-type: none;

}
footer {
  color: #454BD0;
  text-align: left;
  font-family: 'Permanent Marker', cursive;

}
  li {

    text-decoration: none;
    list-style-type: none;
    font-size: 20px;
<<<<<<< HEAD
    font-family: 'Love Ya Like A Sister', cursive;
=======
    font-family: monospace;
    display: inline;
>>>>>>> 9cbed60efa8f4cb24cd8209bab0535a6e1699e8a
 }
  li a {
    text-decoration: none;
    list-style-type: none;
    font-family: 'Love Ya Like A Sister', cursive;

 }
  a:link {
<<<<<<< HEAD
    color: #F7AFA4
    font-family: 'Love Ya Like A Sister', cursive;
   }

=======
    color: #454BD0 }
>>>>>>> 9cbed60efa8f4cb24cd8209bab0535a6e1699e8a
  a:visited {
    color: #454BD0;
    text-decoration: none;
    border-radius: 30px
 }
  address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted }
<<<<<<< HEAD
=======

    photos {
    position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    }

    nav {
      
    }
    .header{
      
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-content: space-around;
      background-color: #454BD0;
      border: #9f7e69 solid 1px;
      box-shadow: inset -20px -3px 1px 14px rgb(160, 104, 233);
    }
  .header li {
    background-color: #F7AFA4;
    border: grey solid 1px;
    margin: 1vh 8vw; 
    padding: .25vh 4vw;
    font-family: 'Permanent Marker', cursive;
    
  }

    /* PROFILE STYLES */

    .profile-h1 {
      text-align: center;
      color: #9f7e69;
      
    }

    .profile-img, .allPhotos, .leaderImg {
      display: block;
      border-radius: 50%;
      width: 50vw;
      height: 60vh;
      margin: 0 auto;
      border: #454BD0 solid 2px;
      box-shadow: -9px 5px 0px 2px #F7AFA4;

    }

    .profile-flexCon {
      display: flex;
      flex-direction: column;
      width: 50vw;
      height: 50vh;
      margin: 0 auto;
      justify-content: space-evenly;
      align-items: center;
    }

    .profile-textForm {
      width: 40%
    }

    .profile-delete {
      display: block;
      margin: 10vh auto;
    }

    .allDescription, .leaderText, .home-text {
      text-align: center;
      font-family: 'Permanent Marker', cursive;
    }


    .aboutText {
      text-align: justify;
    }

    
    
>>>>>>> 9cbed60efa8f4cb24cd8209bab0535a6e1699e8a
