<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <%include ../partials/head%>
  </head>
  <body class="splash">
  <%include ../partials/header%>
    <h1>We Love Cuteness in all forms!</h1>
<h2>That's why we made this fun game to appreciate all that is cute!  Add your profile to upload your own cute photos to be added to the game!</h2>
<h3>Check out our Top Ranked Cuties and be sure to click on their profile to see more about them and their loving owners.   We also have dedicated cuteness pages for the babies as well as cats so no one gets left out.</h3>
<p>insert photo of the owner with cute cat and baby?</p >

    <%include ../partials/footer%>
  </body>
</html>
