<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<<<<<<< HEAD
    <header>
    </header>
    <h1>Welcome To Cat VS Baby!</h1>
=======
    <%include ../partials/header%>
    <h1>Home Page</h1>
>>>>>>> cd42c9abee103cb87b05eccc9f6891a507230bbf
    <p></p>
    <ul>
    </ul>
    <ul>
      Click The Cutest Photo To Play!
    </ul>
    <ul>
      <form action="/home" method="POST">
        <img src="<%=users.profilePictures%>" alt="">
      </form>
    </ul>
    <ul>
    </ul>
    <ul>
    </ul>
    <footer>footer</footer>
  </body>
</html>
