<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
    </header>
    <h1>Welcome To Cat VS Baby!</h1>
    <p></p>
    <ul>
    </ul>
    <ul>
      Click The Cutest Photo To Play!
    </ul>
    <ul>
      <form action="/home" method="POST">
        <img src="<%=users.profilePictures%>" alt="">
      </form>
    </ul>
    <ul>
    </ul>
    <ul>
    </ul>
    <footer>footer</footer>
  </body>
</html>
