<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <%include ../partials/head%>
  </head>
  <body>
  <%include ../partials/header%>
  <h1 class='leaderText'>Top Ranking Cuteness</h1>
<ul class="leaderboard">
  <% for (var i = 0; i < 10; i++) {%>
<li><p class='leaderText'>This Cutie Is Ranked #<%=(i+1)%></p><img class='leaderImg' src="<%=photos[i].url%>" alt="<%=photos[i].description%>">

</li>
<%}%>
</ul>
    <%include ../partials/footer%>
  </body>
</html>
