<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  <%include ../partials/header%>
    <h1>User Page</h1>

    <h1>(user name)'s' Profile</h1>
    <form action="/users" method="POST">
      <input type="url" name="profilePicture" placeholder="Upload Profile Pic">
      <input type="text" name="bio" placeholder="bio">
      <button type="editProfile">Edit Profile</button>
<!-- input scroll down button for animal or baby photo upload -->
<br></br>
<h1>(user name)'s Cute Photos'</h1>
        <select name="cutePhoto">
          <!-- if catPhoto is chosen, redirect store to cat database
          if now, redirect store to baby database -->
          <option value="catPhoto">Cute Animal</option>
          <option value="babyPhoto">Cute Baby</option>
          <input type="url" name="upload" placeholder="Upload A Cute Photo"
        </select>
        <br><br>
        <input type="submit">
      </form>

    </form>
    <ul>
    </ul>
    <ul>
      animal or baby photo
    </ul>
    <ul>
      edit for animal or baby photo
    </ul>
  </body>
</html>
