<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  <%include ../partials/header%>
    <h1><%=users.userName%>'s Profile</h1>

    <form action="/users" method="POST">
      <img src="<%=users.profilePictures%>" alt="">
      <!-- grab user id by name from user database -->
      <input type="url" name="profilePicture" placeholder="Upload Profile Pic">
      <!-- if user is logged in with a profile photo upload it or let them  profile photo that attaches to id -->
      <button type="editProfile">Edit Profile</button>
      <!-- if else statement for listener clicked button, show form page for edit -->
      <br>
<textarea name="name" rows="3" cols="40">bio</textarea>
    <!-- text area should only be 80 characters -->
<br></br>
<h1><%=users.userName%>'s Cute Photos'</h1>
<img src="<%=users.photos.catPhotos[1].url%>" alt="">

        <select name="cutePhoto">
          <!-- if catPhoto is chosen, redirect store to cat database
          if now, redirect store to baby database -->
          <option value="catPhoto">Cute Animal</option>
          <option value="babyPhoto">Cute Baby</option>
          <input type="url" name="upload" placeholder="Upload A Cute Photo"
        </select>
        <br><br>
        <input type="submit">
      </form>
    </form>
    <ul>
    </ul>
    <ul>
    </ul>
    <ul>
    </ul>

    <%include ../partials/footer%>
  </body>
</html>
